
    .quiz-list
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }



    .quiz-box
    {
        box-shadow: 0 1.6px 3.6px 0 var(--box-shadow-medium),0 .3px .9px 0 var(--box-shadow-light);
        border-radius: 5px;
        margin: 5px;
        max-width: 300px;
        text-align: center;
        outline: 0;
    }

    .quiz-box:hover
    {
        cursor: pointer;
        box-shadow: 0 3.6px 7.6px 0 var(--box-shadow-medium),0 .8px .9px 0 var(--box-shadow-light);
        color: var(--red);
    }


    @media screen and (max-width: 768px) {
        .quiz-box
        {
            text-align: center;
        }
    }

