
 <div class="quiz-list pt-5 pb-5">
    <div *ngFor="let quiz of data" class="quiz-box" [routerLink]="['/quiz', quiz.Guid]" @opacityAnimation>
        <div class="d-flex justify-content-center" style="height: 100%">
            <div class="col">
                <div class="p-3">
                    <h3>{{ quiz.Title }}</h3>
                    <p>{{ quiz.Description }}</p>
                </div>
                <div *ngIf="quiz.Logo">
                     <img [src]="quiz.Logo" style="width: 150px;">
                 </div>
            </div>
        </div>
    </div>
 </div>