footer
{
    height: var(--footer-height);
}

ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

li
{
    padding-bottom: .35rem;
    display: inline;
    margin-right: 10px;
}

a {
    font-family: var(--font-sans-serif);
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-bottom: 1px solid var(--blue-transparent);
    transition: .3s;
    color: var(--blue);
    border-bottom-color: var(--blue-transparent);
}

a:hover
{
    color: var(--red);
    transition: .3s;
}
