<div class="top-menu" >
    <div class="container pt-3">
        <div class="row">
           <!--  <div class="col-lg-4 d-flex justify-content-start">
                <span [routerLink]="['/']" class="logo">Nikolay | Software Developer </span>
            </div> -->
            <div class="col-lg-12 d-flex justify-content-center">
                <h1>Викториниус</h1><img src="../../../assets/Images/logo.png" style="height: 80px;">
            </div>
<!--             <div class="col-lg-4 d-flex justify-content-end">
                <nav>
                    <ul>
                        <li>
                            <a href="https://github.com/GitBrainsStudio">GitHub</a>
                        </li>
    
                        <li>
                            <a href="mailto:gitbrains@gmail.com">Почта</a>
                        </li>
                    </ul>
                </nav>
            </div> -->
        </div>
    </div>
</div>